<nav class="py-2 min-h-fit px-5 border-b border-solid border-b-[#e7e7ea]">
    <ul class="flex gap-5">
        <li>
            <a href="/" class="tracking-tight text-base font-medium hover:bg-[#f4f4f5] py-1 px-2 rounded duration-150">Produits</a>
        </li>
        <li>
            <a href="/panier" class="tracking-tight text-base font-medium hover:bg-[#f4f4f5] py-1 px-2 rounded duration-150">Panier</a>
        </li>
        <li>
            <a href="/paiement" class="tracking-tight text-base font-medium hover:bg-[#f4f4f5] py-1 px-2 rounded duration-150">Paiement</a>
        </li>
    </ul>
</nav>
