<div class="border border-solid border-neutral-200 rounded-md h-fit w-96 p-5">
    <div class="py-1">
        <div class="flex justify-between items-center">
            <div class="border border-solid border-neutral-200 rounded-md p-3 bg-slate-100 w-fit">
                <img src="../../../assets/product.avif" class="w-16 h-16"   alt="product">
            </div>
            <div class="flex flex-col gap-2">
                <div>
                    <h5 class="text-sm tracking-tight">Iphone 13 128Go</h5>
                    <p class="text-sm tracking-tight">626,00 €</p>
                </div>
                <p class="text-sm tracking-tight text-neutral-400 font-light">Quantité: 1</p>
            </div>
            <div class="border border-solid border-neutral-200 rounded-md p-2 bg-slate-100 w-fit hover:bg-slate-200 duration-150 cursor-pointer">
                <img src="../../../assets/trash.svg" class="w-4 h-4" alt="delete-product">
            </div>
        </div>
    </div>
    <div class="py-1">
        <div class="flex justify-between items-center">
            <div class="border border-solid border-neutral-200 rounded-md p-3 bg-slate-100 w-fit">
                <img src="../../../assets/product.avif" class="w-16 h-16"   alt="product">
            </div>
            <div class="flex flex-col gap-2">
                <div>
                    <h5 class="text-sm tracking-tight">Iphone 13 128Go</h5>
                    <p class="text-sm tracking-tight">626,00 €</p>
                </div>
                <p class="text-sm tracking-tight text-neutral-400 font-light">Quantité: 1</p>
            </div>
            <div class="border border-solid border-neutral-200 rounded-md p-2 bg-slate-100 w-fit hover:bg-slate-200 duration-150 cursor-pointer">
                <img src="../../../assets/trash.svg" class="w-4 h-4" alt="delete-product">
            </div>
        </div>
    </div>
    <div class="mt-2 mb-2 border border-solid border-neutral-200"></div>
    <h3 class="text-lg tracking-tight font-medium">Montant total</h3>
    <p class="tracking-tight">1252,00 €</p>
    <button class="bg-[#facc15] rounded py-2 shadow mt-4 w-full tracking-tight cursor-pointer">Commander</button>
</div>
